body
{
    background-color: #d097ff;
    height: 100vh;
    margin:0;
    display: grid;
    grid-template-rows: 15vh 10vh 15vh 25vh 15vh 10vh 10vh;
    grid-template-columns: auto;
}

.first
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

#logo {
    height: 70%; 
    padding: 15px 0 0 15%;
    transition: padding 0.9s ease;
}
.menu-icon
{
    padding: 0 15% 0 15px;
    font-weight: bold ;
    font-size: 30px;
    text-shadow: 10px 0 10px rgb(185, 81, 255);
    cursor: pointer;
    transition: padding 0.9s ease;
}
#menu {
    font-size: 40px;
    padding: 20px;
    color: rgb(255, 130, 207);
    text-shadow: 10px 0 10px  rgb(161, 255, 208);
    text-decoration: none; 
    transition: color 0.3s; 
    z-index: 3000;
}
.popup-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 10px 0 10px rgb(161, 255, 208);
}
#menu:hover {
    color: #915ad1; 
}
#menu:active {
    color: #ffd13a; }

a:active{
    color: #ffd13a; 
}
.header
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    font-family: 'Press Start 2P';
    margin:  0;
    text-shadow: 10px 0 10px rgb(185, 81, 255);
    transition: font-size 0.3s ease;
}

.line
{
    background-color: #491d66;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
}

.plot, .adv, .char
{
    display: block;
    background-color: rgb(132, 251, 255);
    height: 45vh;
    width: 18%;
    max-width: 100%;
    z-index: 2000;
    flex-wrap: wrap; 
    background-color: aliceblue;
    text-align: center;
    justify-content:center;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(46, 43, 43);
    text-overflow: elipsis;

    overflow: auto;
}
#heading
{
    font-size: large;
    margin: 0;
    padding: 0;
    transition: font-size 0.9s ease;
}
#main, #smth, #adv
{
    max-width: 100%;
    padding: 7px;
    box-sizing: border-box;
    object-fit: cover;
    margin-bottom: 0px;
}
#text
{
    font-size: 15px;
    margin-top: 10px;
    padding: 2px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
#learnMore
{
    font-size: 15px;
}
a
{
    max-width: 100%;
    cursor: pointer;
    color: rgb(171, 38, 184);
    font-weight: bold ;
    text-decoration: none; 
    transition: color 0.3s; 
    box-sizing: border-box;
    padding-bottom: 5px;
}
a:hover
{
    color:rgb(255, 130, 207);
}
.plot
{
    margin-top: -13vh;
}
.adv
{
    margin-top: -6vh;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 14px;
    width: 100%;
}


@media screen and (max-width: 1300px){
    
    .plot, .adv, .char
    {
        width: 30vh;
    }
    #text, #learnMore
    {
        text-overflow: elipsis;
        font-size: 12px;
        margin-top: 3px;
        padding: 10px;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;        
    }
    
}

@media screen and (max-width: 720px)
{
        body {
            display: grid;
            grid-template-rows: 15vh 10vh 10vh 25vh 60vh 60vh 9vh;
            grid-template-columns: auto;
        }
        
        .first
        {
            padding: 10px 0;
        }
        h1 {
            font-size: 35px;
        }
    
        .line{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 15vh;
        }

        .plot, .adv, .char
        {
            width: 50%;
            max-width: 100%;


        }
        .plot
        {
            margin-top: -5vh;
        }
        .adv
        {
            margin-top: -4vh;
        }
        .char
        {
            margin-top: -3vh;
        }
        
    }
    
