body
{
    background-color: #d097ff;
    color: #000000;
    font-family: 'Lora';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.first {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#logo {
    height: 100%; 
    padding: 15px 0 0 15%;
    transition: padding 0.9s ease;
}
.menu-icon
{
    padding: 0 15% 0 15px;
    font-weight: bold ;
    font-size: 35px;
    text-shadow: 10px 0 10px rgb(185, 81, 255);

    cursor: pointer;
    transition: padding 0.9s ease;
}
#menu {
    font-size: 40px;
    padding: 20px;
    color: rgb(255, 130, 207);
    text-shadow: 10px 0 10px  rgb(161, 255, 208);

    text-decoration: none; 
    transition: color 0.3s; 
    z-index: 1500;
}
.popup-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 10px 0 10px rgb(161, 255, 208);

}
#menu:hover {
    color: #915ad1; 
}
#menu:active {
    color: #ffd13a; }

#links:active{
    color: #ffd13a; 
}
h1
{
    height: 15vh;
    font-size: 40px;
    text-align: center;
    font-family: 'Press Start 2P';
    margin: 20px 0 0 0;
    text-shadow: 10px 0 10px rgb(185, 81, 255);
    transition: font-size 0.3s ease;

    display: flex;
    position: relative;
    bottom:0;
    justify-content: center;
}
.second
{
    background-color: #491d66;
    margin-top: 5%;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 25vh;
    color: black;
    flex-wrap: nowrap;
    
    justify-content: center;
    box-sizing: border-box;

    transition: height 0.9s ease;

}

.plot, .adventures, .characters
{
    display: flex;
    box-sizing: border-box;
    object-fit: cover;
    flex-wrap: wrap; 
    flex-shrink: 1;
    background-color: aliceblue;
    height: 55vh;
    width: 22%;
    margin: 20px;
    text-align: center;
    justify-content:center ;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(46, 43, 43);
    transition: transform 0.9s ease-in-out;
}
#heading
{
    font-size: 25px;
    margin: 0;
    padding: 0;
    transition: font-size 0.9s ease;
}
#main, #smth, #adv
{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    object-fit: cover;
}
#text
{
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    object-fit: cover;
}
#links
{
    color: rgb(171, 38, 184);
    font-weight: bold ;
    text-decoration: none; 
    transition: color 0.3s; 
    box-sizing: border-box;
    object-fit: contain;
    padding-bottom: 5px;
}
#links:hover
{
    color:rgb(255, 130, 207);
}
.plot
{
    transform: translateY(-35%);  
}
.adventures
{
    transform: translateY(-20%);
}
.characters
{
    transform: translateY(-5%);
}
.between
{
    height: 50%;
}
.between
{
    display: flex;
    position: relative;
}
.footer
{
    display: flex;

    color: white;
    width: 100%; 
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 5vh; 
    font-size: 14px; 
    padding: 15px 0; 
}

@media screen and (max-width: 1600px)
{
    #logo {
        padding: 15px 15px 0 5px;
    }
    .menu-icon
    {
        padding: 15px 5px 0 15px;
    }
    
    h1 {
        font-size: 40px;
    }

    .plot, .adventures, .characters
    {
        height: 50vh;
        width: 25%;
        margin: 15px;
    }
    #heading
    {
        font-size: medium;
    }
    #text, #links
    {
        font-size: small;
    }
    
    .plot
    {
        transform: translateY(-25%);  
    }
    .adventures
    {
        transform: translateY(-5%);
    }
    .characters
    {
        transform: translateY(10%);
    }
}
@media screen and (max-width: 720px)
{
    body{
        display: flex;
        flex-direction: column;
        height: auto;
        display: flex;
    }
    h1
    {
        font-size: 35px;
    }
    .second
    {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 25vh;
        margin-top: 10%;
        justify-content: flex-start;
        align-items: center;
    }

    .plot, .adventures, .characters
    {
        height: 55vh;
        width: 70%;
        position: relative;
        object-fit: cover;
    }
    .plot
    {
        margin-top: 5%;;
    }
    .between
    {
        height: 130vh;
    }
   
    .footer
    {
        bottom: 0;
    }
}
    
